<a class="press-kit" href="@Url.Action("Index", "Home")" "><span>Press Kit</span></a>

<ul class="footer-menu">
    <li><a href="@Url.Action("Index", "Home")">Site Map</a></li>
    <li><a href="@Url.Action("Index", "Home")">Terms of Use</a></li>
    <li><a href="@Url.Action("Index", "Home")">Privacy Policy</a></li>
</ul>