<div id="future-banner">
    <div class="gototop">
        <img src="@Url.Content("/assets/global/img/dbl-play-btn.png")" alt="Scroll to top" />
    </div>
    
    <div class="text-container" data-bind="radacodeRichEditor: { getUrl: app.GetUrl, saveUrl: app.SaveUrl, id: '@Html.Raw(Model.ToString()) ', isEditable: app.IsInAdminMode, onConfigLoaded: app.OnConfigLoaded, selectByCountry: false }, stopBinding: true"></div>
</div>